:root {
    font-size: 16px;
    background-color: #477148;
}

#container {
    display: flex;
    flex-wrap: wrap;
}   

@media (min-width: 769px) {
    #container {
        display: grid !important;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
        gap: 1rem;
    }
}

.seleccionable {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin:auto;
}

@media (min-width: 769px) {
    .seleccionable {
        width: 100% !important;
    }
}

.seleccionable.active {
    position: absolute;
    top: 0;
    left: calc(100vw/2 - ((100vh/2.16)/2));
    height: 100vh !important;
    width: auto;
}

.inactive {
    display: none;
}

footer {
    display: flex-row;
    justify-content: center;
    margin: 1rem;
}

@media (min-width: 769px) {
    #container {
        display: flex !important;
    }
}
