:root {
    font-size: 16px;
    background-color: #477148;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
    gap: 1rem;
}

img {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin:auto;
}

img.active {
    position: absolute;
    top: 0;
    left: calc(100vw/2 - ((100vh/2.16)/2));
    height: 100vh !important;
    width: auto;
}

.inactive {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    margin: 1rem;
}